#item-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: auto;
  background-color: #f8f8f8;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

#item-desc {
  margin-bottom: 10px;
  margin-left: 17px;
  margin-top: 10px;
  margin-right: 15px;
}

#weapon-desc {
  font-size: 14px;
}

#element-img {
  width: 40px;
  height: auto;
  position: absolute;
  left: 110px;
  /* top: 110px; */
}

img {
  width: 150px;
  height: auto;
}

p {
  margin: auto;
}

h3 {
  margin: auto;
}

button {
  border-radius: 5px;
  background-color: #eeeeee;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 2px;
}

#button-bar {
  margin-top: 8px;
  float: right;
}
